.authMenu{
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    background-color: white;
    /* background-image: linear-gradient(rgba(128, 128, 128, 0), rgba(91, 174, 252, 0.205)); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 500ms;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.authMenu input{
    height: 32px;    
    box-sizing: border-box;
    border-radius: 2px;
    margin: 4px;    
    padding: 0 10px;
    width: 80%;
    outline: none;
    border: none;   
    text-align: center;     
}
.authTitle{
    padding: 10px;
    font-size: 26px;
    line-height: 26px;
}
.authMenu button{
    width: 80%;
    height: 34px;
    margin-top: 10px;
    background-color: rgb(95, 159, 255);
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 255, 0.253));
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 500ms;
}
.authMenu button:hover{
    background-color: rgb(112, 165, 245);
    box-shadow: 0 0 8px rgb(95, 159, 255);
}
.hl{
    width: 90%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.521);
    display: inline-block;
    margin-top: 20px;
}
.loginBottomText{
    padding: 10px;
}
.authMenu a{
    color: rgb(175, 175, 238);
    padding-left: 10px;
    cursor: pointer;
}
.message{
    padding-bottom: 5px;
    font-size: 16px;
}
.messageRed{    
    color: rgb(224, 134, 134);
}
.messageGreen{
    color: rgb(134, 224, 164);
}
.inputIcon{
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 4px;
    cursor: pointer;
}
.inputIcon img{
    height: 100%;
    width: 100%;
}
.favColorInput{
    position: relative;
    display: inline-block;
    width: 80%;
    text-align: left;
}
.favColorInput input{
    width: calc(100% - 30px);    
    margin-left: 0;
}
.sideNavAuthLeftAdjust{
    left: calc(50vw - 100px);
}
.authLink{
    margin-top: 5px;
}