.darkTheme{
    background-color: #474444;
    color: white;
}
.darkTheme .pageBackground {
    color: white;
    background-color: #474444;    
    background-image: linear-gradient(rgba(207, 207, 235, 0), rgb(107, 107, 131));
}
.darkTheme .pageInner{
    background-color: #474444;    
}
.darkTheme .sidebar{
    background-color: #474444;
}
.darkTheme .topRightMenu {
    background-color: #474444;      
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);  
}
.darkTheme .confirmationBox {
    background-color: #474444;          
}
.darkTheme textarea {
    background-color: #474444;          
    color: white;
}
.darkTheme input {
    background-color: #474444;          
    color: white;
}
.darkTheme select {
    background-color: #474444;          
    color: white;
}
.darkTheme button {
    background-color: #474444;          
    background-image: linear-gradient(gray, rgb(65, 65, 65), rgb(10, 10, 10));
    color: white;
}
.darkTheme .elementDisplay  {
    background-color: rgb(61, 61, 87);
    background-image: linear-gradient(rgb(107, 107, 131), rgba(207, 207, 235, 0));
}
.darkTheme .courseTile{
    color: white;
}
.darkTheme .authMenu{
    background-color: #474444; 
}
.darkTheme .cartCourse{
    box-shadow: 0 0 4px rgb(104, 104, 211);
    border: 1px solid rgb(60, 60, 148);
} 
.darkTheme .box{
    background-color: #474444;          
    color: white;
}
.darkTheme .priceText{
    color: rgba(255, 255, 255, 0.9);
}
.darkTheme .cartMenu{
    color: rgba(255, 255, 255, 0.9);
    background-color: #474444; 
}