.userTile{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    position: relative;     
}
.userTileText{
    overflow: hidden;
}
.chartContainer{
    display: inline-block;
}
.adminUserMenu{
    height: calc(95vh - 80px);
    width: 90vw;
    position: fixed;
    top: 80px;
    left: 5vw;    
    z-index: 4;    
    cursor: default;
    padding-bottom: 40px;
}
.adminUserMenuInner{
    height: calc(95vh - 120px);
    overflow-y: auto;
    margin-top: 20px;
    margin-right: -3px;
}
.inputArea{
    display: inline-block;    
    margin: 5px;
}
.inputArea textarea{    
    height: 100px;
    max-width: 100%;
    min-width: 100%;
}
.whole{    
    width: calc(100% - 10px);    
}
.half{    
    width: calc(50% - 10px);    
}
.third{    
    width: calc(33% - 15px);    
}
.courseReport{
    position: fixed;
    left: 5vw;
    z-index: 5;
    height: calc(95vh - 60px);
    top: 60px;
    width: 90vw;
    z-index: 5;
    text-align: center;
    user-select: none;
}
.courseReportInner{
    margin-top: 20px;
    height: calc(90vh - 60px);
    overflow-y: auto;
}
.courseReportSection{  
    /* border: 1px solid rgba(128, 128, 128, 0.411); */
    padding: 10px 0;    
    box-sizing: border-box;
}
.courseReportChapterTitle{
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
}
.courseReportSectionTitle{
    font-size: 20px;
    font-weight: bold;
}
.courseReportInfo{
    padding-bottom: 10px;
}
.courseReportInfoInner{
    display: inline-block;
    margin: 0 10px 5px 10px;
}
.courseReportResponsesSection{
    padding: 10px;
    box-sizing: border-box;
}
.pdfIframe{
    margin-top: 40px;
    height: calc(100% - 80px);
    width: calc(100% - 20px);
}
.webcamImage{
    height: 140px;
    width: 220px;
    margin: 5px;
    display: inline-block;
}
.chartDateRangeButtons{    
    padding-top: 10px;
}
.chartDateRangeBox{
    display: inline-block;    
}
.chartDateRangeButton{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #8a8a8a9d;
    border-radius: 10px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}
.chartDateRangeButton:hover{
    background-color: #cccccc71;
}
.profileImageElement{
    height: 240px;
    width: 300px;
    background-color: gray;
    border-radius: 5px;
    display: inline-block;
}
.markdown{
    color: blue;
}