.timeDisplay{
    position: absolute;
    right: 5px;
    top: 0px;
}
.sectionButtons{
    position: absolute;    
    bottom: -70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sectionButtons button{
    width: 100px;
}
.nextButtonTimer{
    position: absolute;
    top: -20px;
    right: -5px;
    width: 100px;
    height: 20px
}
.nextButtonTimer .timeDisplay{
    width: 100%;
}
.sectionButtonMessage{
    
}
.fadeMessage{
    opacity: 1;
    color: white;
    background-color: green;      
    transition: 3000ms;
    position: absolute;
    bottom: -20px;
    right:0px;
    border-radius: 3px;
    padding: 2px 5px;
}
.fadeMessageFade{
    opacity: 0;
    background-color: rgba(240, 248, 255, 0);
}